.register-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container .content {
    width: 100%;
    padding: 96px;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register-container .content section {
    width: 100%;
    max-width: 380px;
}

.register-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
}

.register-container .content section .back-link {
    border: 0;
    background: transparent;
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414D;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.register-container .content section .back-link svg {
    margin-right: 8px;
}

.register-container .content section .back-link:hover{
    opacity: 0.8;
}

.register-container .content form {
    width: 100%;
    max-width: 450px;
}

.register-container .content form input {
    width: 100%;
    height: 40px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    margin-right: 8px;    
}

.register-container .content form .input-package {
    display: flex;
}